﻿/*
In NativeScript, the app.css file is where you place CSS rules that
you would like to apply to your entire application. Check out
http://docs.nativescript.org/ui/styling for a full list of the CSS
selectors and properties you can use to style UI components.

/*
In many cases you may want to use the NativeScript core theme instead
of writing your own CSS rules. For a full list of class names in the theme
refer to http://docs.nativescript.org/ui/theme.
*/
@import '~nativescript-theme-core/css/core.light.css';

/*
For example, the following CSS rule changes the font size of all UI
components that have the btn class name.
*/
.name {
    font-size: 28; 
}
.title {
    font-size: 28;
    color: white;
    background-color: rgb(155, 9, 9);

}
.btn {
    color: white;
    background-color: rgb(155, 9, 9);
    width: 50%
}
.btn2 {
    color: white;
    background-color: rgb(32, 179, 216);
    width: 50%
}
.someclass { 
    font-size: 12; 
    color: red; 
}
.landscape .someclass { 
    font-size: 20; 
    color: green; 
}

.box {
    width: 100%;
    height: 50%;

}
.landscape .box {
    width: 50%;
    height: 100%;
}
.rhyme-1 {
    background-color : rgb(3, 11, 56);
    color: white;
}
.rhyme-2 {
    background-color : rgb(94, 7, 76);
    color: white;
}
.rhyme-3 {
    background-color : rgb(4, 53, 18);
    color: white;
}
.rhyme-4 {
    background-color : rgb(3, 82, 10);
    color: white;
}
.rhyme-5 {
    background-color : rgb(255, 0, 221);
    color: white;
}
.rhyme-6 {
    background-color : rgb(13, 134, 138);
    color: white;
}
.rhyme-7 {
    background-color : rgb(18, 114, 121);
    color: white;
}
.rhyme-8 {
    background-color : rgb(47, 48, 3);
    color: white;
}